@import "tailwindcss";

:root {
  --font-brand: "Garet", ui-sans-serif, system-ui, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  background: #111111; /* or your chosen bg */
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}